.todo-list{
    grid-column: content-start / content-end;
    display: grid;
    grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 1fr [full-end];
    grid-template-rows: min-content;
    grid-gap: 2rem;
    align-content: center;
    justify-items: center;
}

.todo-list-button {
    grid-column: content-start / content-end;
}