html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  font-size: 1.5rem;
  box-sizing: border-box; }

.App {
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [content-end] 1fr [full-end];
  grid-template-rows: min-content 55vh repeat(10, min-content); }

.button-todo-light {
  background-color: #d5c798;
  color: #2a3867;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .7rem 1rem;
  cursor: pointer;
  transition: all .2s; }
  .button-todo-light:hover {
    transform: translateY(-2px) scale(1.03);
    filter: brightness(70%);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); }
  .button-todo-light:active {
    transform: translateY(-1px) scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }

.button-todo-dark {
  background-color: #2a3867;
  color: #d5c798;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 2px;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .7rem 1rem;
  cursor: pointer;
  transition: all .2s; }
  .button-todo-dark:hover {
    background-color: #868BB1;
    transform: translateY(-2px) scale(1.03);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2); }
  .button-todo-dark:active {
    transform: translateY(-1px) scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); }

a {
  text-decoration: none;
  text-align: center; }

.header {
  grid-column: content-start / content-end;
  text-align: center; }

.header {
  font-size: 4rem; }

.navbar {
  grid-column: content-start / content-end;
  justify-items: center;
  align-content: center; }

.todo-list {
  grid-column: content-start / content-end;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-gap: 2rem; }

.remove-category-button {
  grid-column: content-start / content-end; }

.todo-card {
  display: grid;
  grid-template-columns: 4fr 3fr 1fr;
  grid-gap: 2rem;
  grid-template-rows: min-content;
  grid-column: content-start / content-end;
  padding: 3rem;
  background-color: #efead8; }

.todo-text {
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: 2rem; }

.todo-details {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  grid-gap: 1rem;
  font-size: 1rem; }

.todo-cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem; }

.todo-title {
  font-size: 1.5rem;
  font-weight: bold; }

.todo-description {
  font-size: 1rem;
  font-weight: bold; }

.todo-buttons {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-gap: 1rem;
  align-content: center; }

.todo-priority {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  align-content: center; }

.todo-priority-value {
  font-size: 3rem; }

.todo-priority-arrow {
  fill: #2a3867;
  height: 2.5rem;
  align-self: center;
  cursor: pointer; }
  .todo-priority-arrow:hover {
    transform: translateY(-0.3rem) scale(1.03);
    filter: brightness(70%); }
  .todo-priority-arrow:active {
    transform: translateY(-0.1rem) scale(1.01); }

.todo-categories {
  display: grid;
  margin: 3rem;
  grid-column: content-start/ content-end;
  grid-template-rows: min-content min-content;
  grid-gap: 4rem;
  justify-content: center; }

.category-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 0.2fr));
  grid-gap: 4rem;
  justify-content: center; }

.category-add {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  justify-content: center; }

.todo-form {
  margin: 2rem 5rem;
  grid-column: content-start /content-end;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.2fr));
  justify-content: center; }

.form-element {
  font-size: 1rem;
  padding: 1rem 2rem;
  border: 1px solid #777;
  font-family: inherit;
  border-radius: 2px; }
  .form-element:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #2a3867; }

.form-error-message {
  color: #881600;
  font-size: 1rem;
  justify-self: left;
  align-self: center; }

.form-error {
  border: 1px solid #881600;
  grid-column-start: span 3; }

.modal-main {
  display: grid;
  grid-column: content-start / content-end;
  grid-template-columns: 1fr 20rem 1fr;
  grid-template-rows: 1fr 15rem 1fr;
  background-color: transparent; }

.modal-box {
  background-color: lightgray;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 1rem; }

.modal-text {
  align-self: center;
  justify-self: center;
  padding: 1rem; }

.modal-buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  align-self: center;
  justify-self: center;
  padding-bottom: 2rem;
  padding-right: 1rem; }

.modal-yes {
  width: 4rem;
  height: 3rem;
  justify-self: center;
  cursor: pointer;
  border-radius: 3px;
  text-align: center; }

.modal-no {
  width: 4rem;
  height: 3rem;
  justify-self: center;
  cursor: pointer;
  border-radius: 3px; }
